{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
        
         {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <form method="post">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="email" 
                                   value="{{ last_username }}" 
                                   name="email" 
                                   id="inputEmail" 
                                   class="form-control" 
                                   autocomplete="email" 
                                   required 
                                   autofocus
                                   placeholder="Enter your email">
                        </div>

                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input type="password" 
                                   name="password" 
                                   id="inputPassword" 
                                   class="form-control" 
                                   autocomplete="current-password" 
                                   required
                                   placeholder="Enter your password">
                        </div>


                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">
                                <span class="icon icon-arrow-right"></span>Sign In
                            </button>
                        </div>
        </div>
    </div>
</div>
{% endblock %}